.page-title-product-recommendation {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 140px 0 100px;
}

.page-title-product-recommendation .page-breadcrumb a {
    color: var(--theme-color-pink) !important;
}
.page-title-product-recommendation .page-breadcrumb li {
    font-size: 20px;
    color: var(--theme-color-pink) !important;
}

.page-title-product-recommendation .page-breadcrumb li::after {
    color: var(--theme-color-pink) !important;
    font-weight: bold;
}

.sticky-product-recommendation {
    position: -webkit-sticky !important; /* For Safari */
    position: sticky !important;
    top: 10px;
}

.page-title-product-recommendation .product-header-bg {
    position: absolute;
    right: 0%;
    top: 200px;
}

.page-title-product-recommendation .product-header-left-bg {
    position: absolute;
    left: 0%;
    top: 20px;
}

.product-block.home-style .inner-box .content-box {
    padding: 10px 10px !important;
}

.product-block.home-style .inner-box .content-box .inner .brand {
    font-size: 24px !important;
    margin-bottom: 0 !important;
}

.product-block.home-style .inner-box .content-box .inner .price {
    font-size: 20px !important;
    margin-bottom: 0 !important;
}

.product-block.home-style .inner-box .content-box .inner .title {
    margin-top: 0 !important;
}
.product-block.home-style .inner-box .content-box .inner .title a {
    font-size: 20px !important;
}
