@media (max-width: 1499.98px) {
}
@media (max-width: 1399.98px) {
}
@media (max-width: 1199.98px) {
    .why-choose-us-two {
        padding: 100px 0;
    }
}
@media (max-width: 1182.98px) {
    .main-menu .navigation > li {
        margin: 0px 0px 0px 30px !important;
    }

    .banner-bg > img {
        width: 350px !important;
        height: auto !important;
    }

    .about-thumb > img {
        width: 400px !important;
    }

    .service-section-home7 .service-pattrn {
        top: 950px !important;
        left: -100px !important;
    }

    .banner-box-one .image {
        right: 20px;
        bottom: 70px;
        width: 240px;
    }

    .banner-box-one .image img {
        max-width: 80%;
        height: auto;
    }

    .whychose-section-home7 .leaf-1 {
        display: none !important;
    }

    .product-section .testimonial-pattrn1-1 {
        top: -300px;
        right: 28px;
        z-index: -1;
    }

    .product-header-left-bg {
        z-index: -1;
    }
}
@media (max-width: 1023.98px) {
}
@media (max-width: 991.98px) {
    .why-choose-us-two {
        padding: 100px 0 80px;
    }
}

@media (max-width: 767.98px) {
    .video-box {
        width: 100% !important;
    }
    .banner-style1-home5 .content-column .title-bg span {
        letter-spacing: 1px;
        font-size: 40px;
        font-family: system-ui;
        font-weight: bold;
        left: 0px;
    }
    .banner-style1-home5 .content-column .title {
        font-size: 40px !important;
    }

    .service-section-home7 .service-pattrn {
        display: none !important;
    }

    .page-title-product-recommendation .title {
        font-size: 40px !important;
    }

    .page-title-product-recommendation .page-breadcrumb li {
        font-size: 14px;
        color: var(--theme-color-pink) !important;
    }

    .product-header-left-bg {
        display: block !important;
        top: 400px !important;
    }
}

@media (max-width: 479.98px) {
    .banner-box-one .image {
        right: -20px;
        bottom: 100px;
        width: 180px;
    }
    .preloader:after {
        left: 43%;
    }
    .banner-box-one .content .price {
        font-size: 24px;
    }

    .client-block .inner-box .image-box .image img {
        width: 190px;
    }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .service-section-home7 .service-pattrn {
        left: 300px !important;
        top: 1200px !important;
    }

    .banner-box-one .image {
        right: -20px;
        bottom: 110px;
        width: 210px;
    }
}
