.shade-hunt .content-box .title {
    font-family: cursive;
}

.banner-bg-shade-hunt img {
    transform: rotate(0deg);
}

.hunt-header-left-bg {
    position: absolute;
    left: 15%;
    top: 20%;
    z-index: -1;
}
